.pagebody {
    background-color: rgb(99, 7, 7);
    color: rgb(208, 208, 208);
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 12%;

}
body{
    background-color: rgb(99, 7, 7);
}
.indexOpt{
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
}

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.basic-image {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.w3-table-all {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}